.hmg-flex2-button {
    margin-right: 14px;

    button {
        padding: 7px 16px;
        @include font14;
        color: var(--button-yallow);
        border: 1px solid var(--button-yallow);
        background: transparent;
        border-radius: 40px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            border: 1px solid var(--color-white);
            color: var(--color-white);
            transition: 0.3s ease-in-out;
            transform: scale(1.1)
        }
    }
}

.hero-banner-button {
    @include flex-center;

    button {
        padding: 11px 21px;
        margin: 5px;
        @include flex-center;
        @include font15;
        gap: 8px;
        color: var(--button-yallow);
        border: 1px solid var(--button-yallow);
        background: transparent;
        border-radius: 40px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        .icon {
            font-size: 20px;
        }

        &:last-child {
            color: var(--button-font-black);
            background: var(--button-yallow);
            font-weight: 500;

            &:hover {
                color: var(--button-font-black);
                background: var(--button-yallow);
                font-weight: 500;
                border: 1px solid var(--button-yallow);
            }
        }

        &:hover {
            border: 1px solid var(--color-white);
            background: var(--color-white);
            color: var(--color-black);
            transition: 0.3s ease-in-out;
        }
    }
}

.blur-layer-button {
    @include flex-center;

    button {
        padding: 11px 20px;
        @include font15;
        font-weight: 600;
        color: var(--color-white);
        background: var(--font-black-button);
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
            background: var(--font-black-button-hover);
            transition: 0.3s ease-in-out;
        }
    }
}

.ava-flex2 {
    button {
        padding: 5px 15px;
        @include font14;
        font-weight: 500;
        color: var(--button-green);
        background: var(--color-white);
        border-radius: 40px;
        border: 1px solid var(--border-button);
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            color: var(--color-white);
            background: var(--font-black-button-hover);
            transition: 0.3s ease-in-out;
        }
    }
}

.analytics-button {
    margin-top: 24px;

    button {
        padding: 6px 24px;
        @include flex-center;
        @include font14;
        font-weight: 500;
        gap: 8px;
        color: var(--button-green);
        border: 1px solid var(--border-button);
        background: transparent;
        border-radius: 40px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        .icon-celc {
            font-size: 20px;
        }

        &:hover {
            background: var(--button-green);
            color: var(--color-white);
            transition: 0.3s ease-in-out;
        }
    }
}
