@import "../../styles/mixin/mixin";
@import "../../styles/typography/typography";

.footer-div {
    padding: 80px 0 40px;
    border-top: 1px solid var(--border-marquee);

    .footer-logo {
        padding: 13px;
        max-width: 170px;

        img {
            width: 100%;
        }
    }

    .footer-flex {
        display: grid;
        grid-template-columns: 25% 33.33% 25%;
        justify-content: space-between;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
        }

        .footer-flex1 {
            h2 {
                @include font14;
                font-weight: 500;
                color: var(--font-black-header);

                @media (max-width: 1024px) {
                    text-align: center;
                }
            }

            .footer-flex1-icon {
                padding-top: 40px;
                @include flex;

                @media (max-width: 1024px) {
                    padding: 40px 0;
                    justify-content: center;
                }

                .footer-flex1-icon-box {
                    padding: 8px;
                    margin: 0 4px;
                    border-radius: 50%;
                    position: relative;
                    @include flex-center;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;

                    img {
                        width: 20px;
                    }

                    .icon-ticket {
                        opacity: 0;
                        visibility: hidden;
                        position: absolute;
                        top: -50px;
                        padding: 8px;
                        background-color: var(--color-black);
                        color: var(--color-white);
                        @include font11;
                        border-radius: 5px;
                        transition:
                            opacity 0.3s ease-in-out,
                            visibility 0.3s ease-in-out;
                    }

                    &:hover {
                        background: var(--icon-hover2);
                        transition: 0.3s ease-in-out;

                        .icon-ticket {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }

        .footer-flex2 {
            display: flex;
            justify-content: space-between;

            @media (max-width: 1024px) {
                display: block;
            }

            .footer-flex2-box {

                @media (max-width: 1024px) {
                    text-align: center;
                }
                h3 {
                    @include font12;
                    color: var(--font-black-header);
                }
                a {
                    display: block;
                    @include font12in;
                    color: var(--font-black3);
                    font-weight: 400;
                    line-height: 1.5;
                    margin-top: 16px;

                    &:hover {
                        text-decoration-line: underline;
                    }
                }

                &:last-child {
                    margin-left: 40px;

                    @media (max-width: 1024px) {
                        margin: 40px 0;
                    }
                }
            }
        }

        .footer-flex3 {

            @media (max-width: 1024px) {
                text-align: center;
            }
            
            h3 {
                @include font12;
                color: var(--font-black-header);
            }

            p {
                display: block;
                @include font14;
                color: var(--font-black3);
                font-weight: 500;
                margin-top: 16px;
            }
        }
    }

    .footer-copyright {
        margin-top: 80px;

        @media (max-width: 1024px) {
            text-align: center;
        }

        p {
            @include font13;
            color: var(--font-black-header);
        }
    }
}
