


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.containerR {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.containerD {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.container2 {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.container3 {
    width: calc(100% - 20%);
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.container4 {
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}