:root {
    --color-white: #fff;
    --color-black: #000;
    --color-white-dull: rgb(255, 255, 255, 0.48);
    --color-black-dull: rgb(33, 43, 54, 0.48);

    --font-black-light: #00140c;
    --font-black-button: #00150d;
    --font-black-button-hover: #00150dd5;
    --font-black-header: #212b36;
    --font-black-dark: #111827;
    --font-gray: #6b7280;
    --font-black1: #505668;
    --font-black2: #485772;
    --font-black3: #637381;
    --font-white1: #f4f4f4;
    --font-green: #41c606;
    --font-input: #28323C;
    --font-input-place: #919ead;
    --font-head: #092540;

    --border-gray-header: rgba(211, 217, 218, 0.24);
    --border-marquee: rgba(145, 158, 171, 0.16);
    --border-box: #d3d9da;
    --border-input: #8e8ea0;
    --border-button: rgba(18, 41, 32, 0.5);

    --button-yallow: #eaff00;
    --button-green: #122920;
    --button-font-black: #00150d;

    --icon: rgba(17, 24, 39, 0.8);
    --icon-hover: rgba(75, 85, 99);
    --icon-hover2: rgba(99, 115, 129, 0.08);

    --bgcolor-header-first: #9cc29b;
    --bgcolor-dot1: #11182752;
    --bgcolor-dot2: #1118273d;
    --bgcolor-dot3: #11182729;
    --bgcolor-font-gray: #1118270d;
    --bgcolor-header: rgba(0, 21, 13, 0.8);
    --bgcolor-icon-hover: #11182714;
    --bgcolor1: #132821;
    --bgcolor2: #132821;
    --bgcolor3: #eaf2e6;
    --bgcolor4: #172922;
    --bgcolor5: rgb(0, 20, 12, 0.8);

    --font-family-inter: "Inter", sans-serif;
    --font-family-Poppins: "Poppins", sans-serif;
    
}
